@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
}


body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

body h1 {
  color: rgb(0, 0, 0);
}


#quiz-container {
  max-width: 500px;
  color: black;
}

#pergunta {
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
  text-align: center;
  
}

#opcao {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}



#resposta {
  font-weight: bold;
  margin-top: 10px;
 
}

#reiniciar {
  border-radius: 10px;
  background-color: aliceblue;
  

  
}

#reiniciar:hover {
  
  background-color: #29b954;
  cursor: pointer;
  
}
